MetadataSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema
    xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://schemas.microsoft.com/2019/04/PSFData">
    <element name="PSFData">
        <complexType>
            <sequence>
                <element name="Version" type="string"></element>
                <element name="MinimumWindowsPlatform" type="int"></element>
                <element name="Description" type="string"></element>
                <element name="WhenToUse" type="string"></element>
            </sequence>
            <attribute name="Name" type="string"></attribute>
        </complexType>
    </element>
</schema>
